<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>

<body>
<p>Great news! Your account is now active.</p>
<p>Just launch {APPNAME} and visit the premium section to start using our content.</p>
<p>Your subscription expires on {EXPIRYDATE} and if you want to renew you can purchase in {APPNAME}
again. We will contact you a few days before your subscription expires just as a little friendly
reminder.</p>
<p>Thanks again,</p>
<hr />
{APPNAME} Team
</body>
</html>
