<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>

<body>
<p>Great news! Your premium access has now been granted. Scroll to the section in {APPNAME} to start using our premium content.</p>
<p>Your package ends on {EXPIRYDATE} but don't worry, we will email you close to that time to remind you.</p>
<p>I hope you enjoy it and thank you for your support.</p>
<hr />
{APPNAME} Team
</body>
</html>
