<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<style type="text/css">
body,td,th {
	font-family: Tahoma, Geneva, sans-serif;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
</style>
</head>

<body>
<p>Hello {EMAIL} and welcome to the team.</p>
<p>Click the link below to start your journey in to the VPN app industry.</p>
<p><a href="{LINK}">LINK</a></p>
<p>Once you have created your account follow the steps to submit your app data to us.</p>
<p>We look forward to working with you.</p>
<p>AVS VPN Team</p>
<hr />
</body>
</html>
